.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters ul.popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}

.filters .locations ul.popover h2 {
    font-size: 16px;
    margin: 5px 0;
}

.filters .locations ul.popover ul {
    padding-left: 10px;
    list-style: disc;
}

.filters .locations:hover ul.popover,
.filters .amenities:hover ul.popover {
    display: block;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.filters button:hover {
    opacity: 0.9;
}
